.button {
  height: 30px;
  width: 10vw;
  border: none;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  background-color: var(--color-secondary);
}

.button:hover {
  background-color: var(--color-accent);
}
