@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #343a40;
  --color-secondary: #d9ed92;
  --color-tertiary: white;
  --color-accent: #e9ff70;
  --font-family: Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  top: 15px;
  padding: 10px 0;
}
