.search-bar-container {
  top: -5px;
  height: 140px;
  width: 100%;
  padding-top: 15px;
  align-content: center;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.search-bar {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 24px;
  position: relative;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  position: relative;
}

.search-bar__button {
  border: none;
  background-color: transparent;
  position: relative;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
